<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">

	<test thread-count="5" name="Home">
		<classes>
			<class name="loan.HomeLoan">
				<methods>
					<exclude name="mobileHomeLoan" />
				</methods>
			</class>
		</classes>
	</test>

	<test thread-count="5" name="Car">
		<classes>
			<class name="loan.CarLoan">
				<methods>
					<exclude name="mobileCarLoan" />
				</methods>
			</class>
		</classes>
	</test>

	<test thread-count="5" name="Education">
		<classes>
			<class name="loan.EducationLoan">
				<methods>
					<exclude name="mobileEduLoan" />
				</methods>
			</class>
		</classes>
	</test>

</suite> 
